
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*head*/
.page {
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
}

.page__content {
	flex-grow: 1;
}

.headofpage {
    background-color: #F6F2F2;
    padding-top: 29px;
}


.headofpage2 {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	min-height: 89px;
	background-color: #313030;
	display: flex;
	justify-content: center;
}

.menu {
	text-align: center;
	padding-right: 48px;
}

.menu > a {
	text-transform: uppercase;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 42px 25px 30px;
	text-decoration: none;
}

.menu > a:hover {
	background-color: #ff3f40;
}

.grey {
	background-color: #F6F2F2;
}


/* content */
.content1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 103px;
	padding-bottom: 94px;
	flex-grow: 1;
}


.content2 {
	position: relative;
   bottom: 11px;
	width: 650px;
	margin-bottom: 20px;
	margin-right: 47px;
}

.content3 {
	margin: 0;
	font-size: 60px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.content4 {
	letter-spacing: 6px;

}

.contenttext {
	max-width: 550px;
	margin-bottom: 54px;
	opacity: 0.7;
	line-height: 26px;
}

.button {
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 7px;
	box-sizing: border-box;
	display: inline-block;
	width: 227px;

}

.buttonred {
	color: #ffffff;
	background-color: #ff2d2d;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0412px;
	line-height: 34px;
	letter-spacing: 0.3195px;
}

.contentimage {
	width: 553px;
	height: 356px;
	box-shadow: 5px -5px 5px 0 rgb(123 128 138);
}

/* content with svgs */
.txtundergrey {
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 36px;
	border-bottom: 1px solid #ececec;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.txtundergreybox {
	flex: 1 1 502px;
	max-width: 502px;
	margin-bottom: 50px;
	margin-right: 50px;

}

.txtundergreyboxhead {
	position: relative;
   bottom: 5px;
	margin-bottom: 15px;
	line-height: 26px;
}
ß



.txtundergreyboxhead1 {
	margin-bottom: 27px;
	margin-top: 30px;
	line-height:180%;
}

.itxt3 {
	line-height:170%;
}



.itxt3 {
	line-height:170%;
}

.itxt10 {
	margin-top: 40px;
	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	align-items: center;
	letter-spacing: 0.271838px;
}



.itxt11 {
	margin-top: 46px;

	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	align-items: center;
	letter-spacing: 0.271838px;
}

.action-button_white2 {
	box-sizing: border-box;
	display: inline-block;
	width: 227px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	
}

.action-button_white {
	font-size: 19px;
	color: #ff3f40;
	border: 3px solid #ff3f40;
	font-weight: bold;
	margin-top:45px;
}


/* services */
.servicesbox {
	max-width: 609px;
	display: flex;
	flex-wrap: wrap;
}

.txtundergrey1 {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 52px;
	margin-right: 28px;
}


.txtundergrey2 {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 2px;
}


.txtundergrey3 {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 32px;
	margin-right: 28px;
}


.txtundergrey4 {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 32px;
}

/*svg */
.svgsettings {
	display: block;
	width: 41px;
	height: 41px;
	margin-bottom: 23px;
}

.txtundergrey12 {
	opacity: 0.7;
}

.svgs {
	margin-top: 40px;
}

.svgs2 {
	margin-bottom: 10px;
}

.svgs3 {
	margin-bottom: 8px;
}


.itxt {
    font-style: normal;
    font-weight: bold;
    font-size: 42.1902px;
    line-height: 55px;
    display: flex;
    align-items: center;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 31px;
}


/* feature*/
.featurebox {
	padding-top: 86px;
}

.feature {
	width: 100%;
	text-align: center;
	margin-bottom: 87px;
}

.Featureproducts {
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	line-height: 0px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 2px;
}

.featuretxt {
	max-width: 550px;
	margin: 0 auto 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
}

.productsbox {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}

.productsnav {
	position: relative;
    left: 45px;
	color: #000;
	margin-right: 55px;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}


.productsnav:hover {
	color: #ff2d2d;
}

.products {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.product1 {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	padding-right: 10px
}

.product2 {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	padding-right: 10px;
	padding-left: 10px
}

.product3 {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}


.product4 {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	padding-left: 10px;
}


.featureine {
	width: 134px;
	height: 5px;
	background-color: #ff2d2d;
	border: none;
}

/* Team */
.team {
	align-items: flex-start;
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 103px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.txtonteam {
	width: 100%;
	text-align: left;
	margin-bottom: 56px;
}



.itxt12 {
	font-weight: bold;
	font-size: 41.9876px;
	text-transform: uppercase;
	color: #000000;
	margin-left: -10px;
	margin-top: 17px;

}

.team__text {
	max-width: 460px;
	margin-bottom: 30px;
	line-height: 29px;
}

.teamhr {
	margin-left: 0;
	margin-top: 30px;
	width: 134px;
	height: 3px;
	background-color: #ff2d2d;
	border: none;
}

.teammember {
	width: 100%;
	display: flex;
	align-items: stretch;
	align-content: space-between;
	min-height: 458px;
}

.teamphoto {
	flex-shrink: 0;
	width: 321px;
	height: 458px;
	margin-right: 65px;
	align-self: start;
	margin-top:3px;
}

.teamcontent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.teaminfo {
	position: relative;
	flex-direction: column;
	align-self: start;
	justify-content: space-between;
	max-width: 642px;
	margin-top: -7px;
}

.teamlorem {
	margin-bottom: 40px;
	line-height: 29px
}

.Markwaugh {
    bottom: 5px;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 0.8;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 7px;
}


.teamlink1 {
	margin-right: 30px;
	padding-left: 10px;
} 

.itxt13 {
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.9px;
	color: #000000;
	text-decoration: none;
}

.teamlink {
	margin-right: 30px;
} 

.members {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 10px;
}

.member {
	position: relative;
	margin-top: 18px;
}

/*members*/

.member:not(:last-child) {
	margin-right: 18px;
}

.membername {
	display: flex;
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
	justify-content: center;
	align-items: center;
	margin-bottom: -1px;
	font-style: normal;
	font-weight: 400;
	font-size: 18.0762px;
	line-height: 0px;
	letter-spacing: 0.165159px;
	text-transform: uppercase;
}

.member:hover > .membername {
	visibility: visible;
}

.memberphoto {
	display: block;
	width: 197px;
	height: 214px;
}

.memberphoto1 {
	display: block;
	width: 197px;
	height: 214px;
}


/* subscribe*/

.subscribebox {
	background-color: #2c2c2c;
	width: 100%;
	max-width: 100%;
	padding-top: 165px;
	padding-bottom: 140px;
}

.subscribebox2 {
	max-width: 1250px;
	margin: 0 auto;
	text-align: center;
}



.subscribetxt2 {
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.5px;
	color: #FFFFFF;
}


.subscribetxt3 {
	margin-top: 25px;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #FFFFFF;
}



.subscribeform {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
}


.subscribeinput {
	color: #8e8e8e;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
	background-color: #fff;
}


.subscribebutton {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	margin-top: 58px;
}

.getintouchsetting {
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 94px;
	display: flex;
	flex-direction: column;
}


.getintouch {
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
}

.loremgetintouch {
	font-size: 15.9953px;
	line-height: 28px;
	margin-top: 30px;
}

.getintouchline {
	width: 134px;
	height: 3px;
	background-color: #ff2d2d;
	border: none;
	margin-top: 51px;
	margin-left: 0;
}

/*form*/

.formmessagebox {
	position: relative;
	width: 100%;
	max-width: 731px;
	margin-right: 107px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1249px;
	margin: 0 auto;
	padding-top: 70px;
}

.form1 {
	display: flex;
	flex-wrap: wrap;
}

.forminput1 {
	min-height: 70px;
	padding: 0;
	padding-left: 50px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 252px;
	height: 69px;
	background-color: #E6E6E6;
	margin-right: 56px;
}


.forminput2 {
	min-height: 70px;
	padding: 0;
	padding-left: 50px;
	padding-right: 40px;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	font-size: 16px;
	width: 250px;
	height: 69px;
	background-color: #E6E6E6;

}

.forminput3 {
	resize: none;
	font-size: 16px;
	width: 100%;
	max-width: 731px;
	height: 252px;
	box-sizing: border-box;
	padding: 32px 51px 200px 54px;
	border: none;
	border-radius: 5px;
	background-color: #E6E6E6;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
}


.formbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 731px;
	min-height: 72px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	margin-top: 45px;
}

/*footer*/

.footer {
	background-color: #2c2c2c;
	margin-top: 110px;

}

.footerbox {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	height: 110px;
	background-color: #2c2c2c;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1249px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.footer__copyright {
	margin: 0;
	line-height: 1.75;
	padding-top: 30px;
}

.footer__link {
	display: inline-block;
	padding-right: 15px;
	padding-top: 25px;
}


.footer__link1 {
	display: inline-block;
}

@media screen and (max-width: 1291px) {
	.contentimage {
		height: auto;
	}
	.content2 {
		width: 100%;
		
	}
}
